<a href="https://colab.research.google.com/github/aanjneyapankharaj/Basics-of-python/blob/main/expct1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#EDA using python
## expet - 2
### python basics

######Name : Aanjneya Pankharaj
######PRN : 25070123002
######batch : Entc 2025-29

In [1]:
#first program
print("Hello World")

Hello World

In [3]:
print("bade bade desho me aisi choti choti baate hoti rehti hai")

bade bade desho me aisi choti choti baate hoti rehti hai

In [2]:
a = "hello"
print(a)

hello

In [4]:
#many statements
print("hey senorita")
print("aa aap mere saath hai,aab koi problem nhi ho sakti")
print("vaise europe paidal jyaada achha lagta ha")

hey senorita
aa aap mere saath hai,aab koi problem nhi ho sakti
vaise europe paidal jyaada achha lagta ha

In [5]:
print("yo whats up");print("kya haal ha")

yo whats up
kya haal ha

In [6]:
print("yo whats up") print("kya haal ha")

SyntaxError: invalid syntax (ipython-input-4162697306.py, line 1)

In [7]:
print("Hello world!", end = " ")
print("i will print on the same line")

Hello world! i will print on the same line

In [8]:
print (341)
print (23566)
print(456788)

341
23566
456788

In [15]:
#variables
x = "tfds"
y = "yo"
print (x)
print (y)

tfds
yo

In [16]:
#case-sensitive
a = 4
A = "shahruk khan"
print (a)
print(A)

4
shahruk khan

In [18]:
#many values to multiple variables
x,y,z = "orange","banana",34
print(x)
print(y)
print(z)

orange
banana
34

In [19]:
a =65
b =53

In [20]:
#subtraction
print("subtraction =",a-b)

subtraction = 12

In [22]:
#multiplication
print("multiplcation is =",a*b)

multiplcation is = 3445

In [23]:
#division
print("division is =",a/b)

division is = 1.2264150943396226

In [48]:
#understanding data types
x = 10
y =3.14
z = "Python"
flag = True #boolean uses 2 types (true/false),(0/1)
c = 3+2j  #complex data type
print(type(x))
print(type(y))
print(type(z))
print(type(flag))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [31]:
name = input("Enter your name:")
print("Hello",name)

Enter your name:shahru khan
Hello shahru khan

In [32]:
#simple calculator
a =int(input("Enter first number: "))
b= int(input("Enter second number: "))
print("addition = ",a+b)
print("subtraction = ",a-b)
print("multiplication = ",a*b)
print("multipliation = ",a/b)

Enter first number: 5
Enter second number: 7
addition =  12
subtraction =  -2
multiplication =  35
multipliation =  0.7142857142857143

In [38]:
#average and total marks of 5 subjects
n1 =int(input("enter the marks of physics : "))
n2 =int(input("enter the marks of chemistry : "))
n3 =int(input("enter the marks of maths : "))
n4 =int(input("enter the marks of english : "))
n5 =int(input("enter the marks of Computer : "))
total = n1+n2+n3+n4+n5
average = total/5
print("total marks are : ",total)
print("the average marks are :",average)

enter the marks of physics : 51
enter the marks of chemistry : 51
enter the marks of maths : 45
enter the marks of english : 56
enter the marks of Computer : 53
total marks are :  256
the average marks are : 51.2

In [44]:
#area of rectagle
l = int(input("enter length of the rectangle : "))
b = int(input("enter length of the rectangle : "))
area = l*b
perimeter = 2*(l+b)
print ("Area of the rectangle is : ",area)
print ("Perimeter of the rectangle is : ",perimeter)

enter length of the rectangle : 4
enter length of the rectangle : 2
Area of the rectangle is :  8
Perimeter of the rectangle is :  12

In [45]:
#aea of circle
r = float(input("enter radius of the circle : "))
area = 3.14*r*r
perimeter = 2*3.14*r
print ("Area of the circle is : ",area)
print ("Perimeter of the circle is : ",perimeter)

enter radius of the circle : 5
Area of the circle is :  78.5
Perimeter of the circle is :  31.400000000000002

In [50]:
#exponential
z = 3
sol1 = z*z
sol2 = z**z
print(sol1)
print(sol2)

9
27

In [51]:
#touple joining
a = (3,5,7)+(4,6,7)
print (a)

(3, 5, 7, 4, 6, 7)